$color-green: rgb(78,174,135);
$color-green: rgb(78,174,135);



@mixin padding($radius) {
  padding-top: $radius;
  padding-bottom: $radius;
}

@mixin center {
  text-align: center;
}

@mixin centerer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@mixin centerers {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.nav {
  div {
    @include center;
  }

}

#bottom {
  bottom: 0;
  background-color: gray;
}

header {
  @include padding(.5cm);
}

h1 {
  @include center;
}

#canaryHeader {
  @include padding(1cm);

}

#pics {

  @include padding(1cm);

}


#greenFont {
  padding-top: 1cm;

  color: $color-green;

}

#row3 {
  padding-top: 1cm;
}



#gray {
  background-color: #F8F8F8;

}

.flex-container {
    display: -webkit-flex;
    display: flex;
    width: 100px;
    height: 250px;
    border-style: solid;
    border-width: 1px;
    position: relative;

  }

.flex-item {

  @include centerer;

  p{
    @include centerers;

  }
}

@media screen and (max-width:480px) {
  .hideImg {
    display: none;
  }

  #canaryImg img {
    margin: 0 auto;
  }
}

#insurance {
  @include padding(3cm);
  @include center;
}

.blue-color {
  background-color: rgb(79,	204,	222);
  h4 {
    color: rgb(255,255,255);
    @include center
  }


}

.imgWidth {

  width:100%;

}


.row {
  -webkit-flex-direction: row;  /* Safari */
  flex-direction:  column;
}

.row-item {
  // margin-left: 5px;
  // margin-right: 5px;
  border: 1px solid black;
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
  justify-content: space-around;

}

.align-right {
  float: right;
  color: rgb(151,	151,	151);
}

.bottom-align-text {
    bottom: 0;
  }
