$color-green: rgb(78,174,135);
$color-blue: rgb(79,	204,	222);




@mixin padding($radius) {
  padding-top: $radius;
  padding-bottom: $radius;
}

@mixin center{
  text-align: center;
}

.nav {
  div {
    @include center;
  }
}

header {
  @include padding(.5cm);
}

h1 {
  @include center;
}

.greenFont {
  padding-top: 1cm;
  color: $color-green;
}

@media screen and (max-width:480px) {
  .hideImg {
    display: none;
  }

#canaryImg img {
    margin: 0 auto;
  }
}

#insurance {
  @include padding(3cm);
  @include center;
  color: gray;
}

.blue-color {
  background-color: rgb(79,	204,	222);
  min-height:300px;
}

.centerIt {
    @include center;
}

.imgWidth {
  width:100%;
}



.gray{
    background-color: #F8F8F8;

}

#shape {
  width: 170px;
  height: 50px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius:30px;
  background: white;
  text-align: center;
  span {
    color: $color-blue;

  }
}

.insurance_boxes {
  min-height:250px;
  padding:4%;
  border:1px solid black;
  background-color: white;
}

.insurance_logos {
  display:block;
  text-align:center;
  padding: 10px 0;
}

.details {
  text-align:center;
}

.pad {
  @include padding(1cm);
}
.white{
  color: white;

}
